<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      @page {
        size: landscape;
      }

      .page2 {
        page-break-before: always;
      }

      h1 {
        color: pink;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Hello {{name}}!</h1>
    <h1 class="page2">Page 2</h1>
  </body>
</html>
